<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.mapper.MemberMapper">

	<select id="selectById" resultType="com.bitcamp.model.MemberInfo">
		select id, password, name, to_char(birthdate, 'YYYY-MM-DD') birthdate, gender, email, substr(phone, 1,3) || '-'  || substr(phone, 4,4) || '-'  || substr(phone, 8,4) phone, photoName 
		from member 
		where id=#{id}
	</select>
	
	<select id="selectAll" resultType="com.bitcamp.model.MemberInfoView">
		select id, password, name, to_char(birthdate, 'YYYY-MM-DD') birthdate, gender, email, substr(phone, 1,3) || '-'  || substr(phone, 4,4) || '-'  || substr(phone, 8,4) phone, photoName  
		from member
	</select>
	
	<insert id="insert" parameterType="com.bitcamp.model.MemberInfo">
		insert into member 
		(id, password, name, birthdate, gender, email, phone, photoName) 
		values (#{id}, #{password}, #{name}, #{birthdate2}, #{gender}, #{email}, #{phone}, #{photoName})
	</insert>

</mapper>